CS_NET Web App/CS_NET Web App/Service References/SBMemberSecuritySvc/MemberSecurity.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="LoyaltyPlatformWS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="LoyaltyPlatformWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="LoyaltyPlatformWS">
      <s:element name="ValidatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePasswordResult" type="tns:ValidatePasswordReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidatePasswordReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberNewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetPasswordResult" type="tns:SetPasswordReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetPasswordReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberCurrentPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberNewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="tns:ChangePasswordReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangePasswordReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidatePIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberPIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidatePINResult" type="tns:ValidatePINReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidatePINReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetPIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberNewPIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetPINResult" type="tns:SetPINReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetPINReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangePIN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSSecurityToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAccountId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SBInternalMemberId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberCurrentPIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberNewPIN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePINResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePINResult" type="tns:ChangePINReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ChangePINReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidatePasswordReturn" nillable="true" type="tns:ValidatePasswordReturn" />
      <s:element name="SetPasswordReturn" nillable="true" type="tns:SetPasswordReturn" />
      <s:element name="ChangePasswordReturn" nillable="true" type="tns:ChangePasswordReturn" />
      <s:element name="ValidatePINReturn" nillable="true" type="tns:ValidatePINReturn" />
      <s:element name="SetPINReturn" nillable="true" type="tns:SetPINReturn" />
      <s:element name="ChangePINReturn" nillable="true" type="tns:ChangePINReturn" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePassword" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="SetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePINSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePIN" />
  </wsdl:message>
  <wsdl:message name="ValidatePINSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePINResponse" />
  </wsdl:message>
  <wsdl:message name="SetPINSoapIn">
    <wsdl:part name="parameters" element="tns:SetPIN" />
  </wsdl:message>
  <wsdl:message name="SetPINSoapOut">
    <wsdl:part name="parameters" element="tns:SetPINResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePINSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePIN" />
  </wsdl:message>
  <wsdl:message name="ChangePINSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePINResponse" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:ValidatePasswordReturn" />
  </wsdl:message>
  <wsdl:message name="SetPasswordHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberNewPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetPasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:SetPasswordReturn" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberCurrentPassword" type="s:string" />
    <wsdl:part name="MemberNewPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:ChangePasswordReturn" />
  </wsdl:message>
  <wsdl:message name="ValidatePINHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberPIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePINHttpGetOut">
    <wsdl:part name="Body" element="tns:ValidatePINReturn" />
  </wsdl:message>
  <wsdl:message name="SetPINHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberNewPIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetPINHttpGetOut">
    <wsdl:part name="Body" element="tns:SetPINReturn" />
  </wsdl:message>
  <wsdl:message name="ChangePINHttpGetIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberCurrentPIN" type="s:string" />
    <wsdl:part name="MemberNewPIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePINHttpGetOut">
    <wsdl:part name="Body" element="tns:ChangePINReturn" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:ValidatePasswordReturn" />
  </wsdl:message>
  <wsdl:message name="SetPasswordHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberNewPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetPasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:SetPasswordReturn" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberCurrentPassword" type="s:string" />
    <wsdl:part name="MemberNewPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:ChangePasswordReturn" />
  </wsdl:message>
  <wsdl:message name="ValidatePINHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberPIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidatePINHttpPostOut">
    <wsdl:part name="Body" element="tns:ValidatePINReturn" />
  </wsdl:message>
  <wsdl:message name="SetPINHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberNewPIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetPINHttpPostOut">
    <wsdl:part name="Body" element="tns:SetPINReturn" />
  </wsdl:message>
  <wsdl:message name="ChangePINHttpPostIn">
    <wsdl:part name="WSSecurityToken" type="s:string" />
    <wsdl:part name="MemberAccountId" type="s:string" />
    <wsdl:part name="SBInternalMemberId" type="s:string" />
    <wsdl:part name="MemberCurrentPIN" type="s:string" />
    <wsdl:part name="MemberNewPIN" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ChangePINHttpPostOut">
    <wsdl:part name="Body" element="tns:ChangePINReturn" />
  </wsdl:message>
  <wsdl:portType name="MemberSecuritySoap">
    <wsdl:operation name="ValidatePassword">
      <wsdl:input message="tns:ValidatePasswordSoapIn" />
      <wsdl:output message="tns:ValidatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input message="tns:SetPasswordSoapIn" />
      <wsdl:output message="tns:SetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePIN">
      <wsdl:input message="tns:ValidatePINSoapIn" />
      <wsdl:output message="tns:ValidatePINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPIN">
      <wsdl:input message="tns:SetPINSoapIn" />
      <wsdl:output message="tns:SetPINSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePIN">
      <wsdl:input message="tns:ChangePINSoapIn" />
      <wsdl:output message="tns:ChangePINSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberSecurityHttpGet">
    <wsdl:operation name="ValidatePassword">
      <wsdl:input message="tns:ValidatePasswordHttpGetIn" />
      <wsdl:output message="tns:ValidatePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input message="tns:SetPasswordHttpGetIn" />
      <wsdl:output message="tns:SetPasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpGetIn" />
      <wsdl:output message="tns:ChangePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePIN">
      <wsdl:input message="tns:ValidatePINHttpGetIn" />
      <wsdl:output message="tns:ValidatePINHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPIN">
      <wsdl:input message="tns:SetPINHttpGetIn" />
      <wsdl:output message="tns:SetPINHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePIN">
      <wsdl:input message="tns:ChangePINHttpGetIn" />
      <wsdl:output message="tns:ChangePINHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MemberSecurityHttpPost">
    <wsdl:operation name="ValidatePassword">
      <wsdl:input message="tns:ValidatePasswordHttpPostIn" />
      <wsdl:output message="tns:ValidatePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input message="tns:SetPasswordHttpPostIn" />
      <wsdl:output message="tns:SetPasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordHttpPostIn" />
      <wsdl:output message="tns:ChangePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePIN">
      <wsdl:input message="tns:ValidatePINHttpPostIn" />
      <wsdl:output message="tns:ValidatePINHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPIN">
      <wsdl:input message="tns:SetPINHttpPostIn" />
      <wsdl:output message="tns:SetPINHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePIN">
      <wsdl:input message="tns:ChangePINHttpPostIn" />
      <wsdl:output message="tns:ChangePINHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MemberSecuritySoap" type="tns:MemberSecuritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidatePassword">
      <soap:operation soapAction="LoyaltyPlatformWS/ValidatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="LoyaltyPlatformWS/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="LoyaltyPlatformWS/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePIN">
      <soap:operation soapAction="LoyaltyPlatformWS/ValidatePIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPIN">
      <soap:operation soapAction="LoyaltyPlatformWS/SetPIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePIN">
      <soap:operation soapAction="LoyaltyPlatformWS/ChangePIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberSecuritySoap12" type="tns:MemberSecuritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidatePassword">
      <soap12:operation soapAction="LoyaltyPlatformWS/ValidatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap12:operation soapAction="LoyaltyPlatformWS/SetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="LoyaltyPlatformWS/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePIN">
      <soap12:operation soapAction="LoyaltyPlatformWS/ValidatePIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPIN">
      <soap12:operation soapAction="LoyaltyPlatformWS/SetPIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePIN">
      <soap12:operation soapAction="LoyaltyPlatformWS/ChangePIN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberSecurityHttpGet" type="tns:MemberSecurityHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ValidatePassword">
      <http:operation location="/ValidatePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <http:operation location="/SetPassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePIN">
      <http:operation location="/ValidatePIN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPIN">
      <http:operation location="/SetPIN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePIN">
      <http:operation location="/ChangePIN" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MemberSecurityHttpPost" type="tns:MemberSecurityHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ValidatePassword">
      <http:operation location="/ValidatePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <http:operation location="/SetPassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <http:operation location="/ChangePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePIN">
      <http:operation location="/ValidatePIN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPIN">
      <http:operation location="/SetPIN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePIN">
      <http:operation location="/ChangePIN" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MemberSecurity">
    <wsdl:port name="MemberSecuritySoap" binding="tns:MemberSecuritySoap">
      <soap:address location="https://preview.smartbutton.com/WS/MemberSecurity.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberSecuritySoap12" binding="tns:MemberSecuritySoap12">
      <soap12:address location="https://preview.smartbutton.com/WS/MemberSecurity.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberSecurityHttpGet" binding="tns:MemberSecurityHttpGet">
      <http:address location="https://preview.smartbutton.com/WS/MemberSecurity.asmx" />
    </wsdl:port>
    <wsdl:port name="MemberSecurityHttpPost" binding="tns:MemberSecurityHttpPost">
      <http:address location="https://preview.smartbutton.com/WS/MemberSecurity.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>